.contact{
    padding-top: 50px;
    background-image: url("../../../assets/image/contact3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
   
    }

    h1{
        text-align: center;
         font-size: 70px;
          font-family: serif;
           font-style: bold;
            color:white;
            text-shadow: 0 0 18px black;  

    }

    hr{
        background-color: wheat;
        width: 70%;
        margin-bottom: 40px;
    }

   
   
        .card-body {
         flex: 1 1 auto;
         min-height: 1px;
         padding: 1.25rem;
        }
        
        
        
        .card{
        
         border: 4px solid black;
         box-shadow: 5px 10px 12px wheat ;
        
        }
        @media (max-width: 414px) {
            .contact{
                height: 1200px;
            }
        }