<app-header></app-header>

<div class="contact" >
  <div class="container">
  <h1 > Contact</h1>
  <hr>

   
    
    <div class="row">
    
      <div class="col-md-4">
        <div class="card mx-auto mt-5" style="width: 18rem;">
          <div class="card-body text-center" >
           <h3><i class="fa fa-home"></i></h3>
            <h5 class="card-title"><b>Address</b></h5>
            <hr style="width: 100px; background-color:cadetblue;">
            <p class="card-text">New Delhi</p>
          </div>
          
        </div>
      </div>
     

      
        <div class="col-md-4 ">
          <div class="card  mx-auto mt-5" style="width: 18rem;">
            <div class="card-body text-center">
              <h3><i class="fa fa-envelope"></i></h3>
              <h5 class="card-title"><b>Email</b></h5>
              <hr style="width: 100px; background-color:cadetblue;">
              <p class="card-text">harpreet@gmail.com</p>
            </div>
          </div>
        </div>
        
      
          <div class="col-md-4">
            <div class="card  mx-auto mt-5" style="width: 18rem;">
              <div class="card-body text-center">
                <h3><i class="fa fa-mobile"></i></h3>
            <h5 class="card-title"><b>Mobile no.</b></h5>
            <hr style="width: 100px; background-color:cadetblue;">
            <p class="card-text">+916464535476</p>
              </div>
            </div>
      
          </div>
         
      
      </div>
    </div>
    </div>

