.reg {
        margin:0px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: 'poppins', sans-serif;
        background: linear-gradient(to right top, #3f2c36, #322631, #26202a, #1c1a22, #12131a, #12161c, #13191e, #141b1f, #1d282c, #273639, #314446, #3d5352);
        color:blanchedalmond; 
     } 


.box {
        position: relative;;
        width: 40%;
        height: 710px;
       -webkit-box-shadow: 3px 4px 43px 22px rgba(235,218,235,0.45);
        -moz-box-shadow: 3px 4px 43px 22px rgba(235,218,235,0.45);
        box-shadow: 3px 4px 43px 22px rgba(235,218,235,0.45);
         margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        background:#060c12;
     }
   
 
.btn {
        margin-left: 25%;
        background-color: antiquewhite;
        color: black;
        font-size: 20px; 
        font-style: oblique;
        width: 47%;
 
     } 
 
    
h1   {
        text-align: center;
        font-size: 70px;
        font-family: serif;
        font-style: bold; 
        color:white;
        text-shadow: 0 0 15px black;  
 
     }
   
    
hr   {
        background-color: wheat;
        width: 70%;
        margin-bottom: 60px;
     }
   
   
   
     @media (max-width:768px) {

        .reg {
               height: 1000px;
             }
 
       .box {
              width: 90%;
              height: 700px;
            }
 
      
     }