.log{
    background-image: url("../../../assets/image/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
  
    }

    .box{
        position: relative;;
        width: 40%;
        height: 300px;
        background-color: rgba(0,0,0,.7) !important;
        border-radius: 5%; 
        box-shadow: 5px 10px 18px wheat;
         margin-left: auto;
        margin-right: auto;
        
    }
    
.row{
width: 100%;
}

.form-control{
width: 100%;

}

.btn{
   
    background-color: antiquewhite;
    color: black;
    font-size: 20px; 
    font-style: oblique;
    width: 47%;
    text-align: center;
    margin-left: 25%;
   
    }


    h1{
        text-align: center;
         font-size: 70px;
          font-family: serif;
           font-style: bold; 
            color:white;
            text-shadow: 0 0 15px black;  

    }
  
    hr{
        background-color: wheat;
        width: 70%;
        margin-bottom: 60px;
    }
    @media (max-width:768px){
       
              .box{
                  width: 90%;
                  height: 300px;
              }
        
             
          }