<app-header></app-header>
<div class="log py-5 " >
 

    <h1 >Login Form</h1>
    <hr>
   
    
    <div class="container">
    
      <form   [formGroup]="loginForm"> 
        <div class="box  px-5 py-5 " >
          
         
            <input type="text" class="form-control"  formControlName="username" placeholder="User Name" name="username" required>
           
            <br>
          
            <input type="password" class="form-control"  formControlName="password" placeholder=" Password"  name="password" required>
          
            <br>
           <small style="margin-left: 32%; "> <a href="" > forget password </a></small>
           <br>
          
            
          
          <button type="submit" (click)="Login()" class="btn btn-primary my-2" >Submit</button>
        </div>
     
      </form>
    
     </div>
    </div> 
 
