<body>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a routerLink="/user-dashboard">Dashboard</a>
                </li>
                <li>
                    <a routerLink="/user-profile">User Profile</a>
                </li>
                <li>
                    <a routerLink="/blogpost">Post Blogs</a>
                </li>
               
                <li>
                    <a routerLink="about">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a routerLink="contact">Contact</a>
                </li>
                <li>
                    <a  (click)="logout()" >Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <a href="#menu-toggle" class="btn float-left"  id="menu-toggle"><img src="../../../assets/image/hambrgr.JPG" class="py-0 px-0" alt=""></a>
                <h1>Simple Sidebar</h1>
                <div class="card" style="width: 18rem;"*ngFor="let obj of userBlogs; index as i; ">{{i+1}}
                      <img class="card-img-top" src="..." alt="Card image cap" >{{obj.imageArr}}
                      <div class="card-body">
                      <h5 class="card-title">{{obj.title}}</h5>
                      <div class="card-text">{{obj.category}}</div>
                      <div>{{obj.mainpost}}</div>
                      <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                    
                     <td><button type="button" (click)="setModalId(obj._id)"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                     update
                    </button></td>
                  <td><button type="button" (click)="deleteUser(obj._id)" class="btn btn-info">delete</button></td>
                  </div>

                 
                 
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="blogForm">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Title</label>
                              <input type="text" formControlName="title" class="form-control" id="exampleInputEmail1" aria-describedby="titleHelp"
                                  placeholder="Enter Title">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Blog Post</label>
                            <input type="text" formControlName="blogText" class="form-control" id="exampleInputEmail1" aria-describedby="blogTextHelp"
                                placeholder="Enter Blog Text">
                        </div>
                          <!-- <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="usernameHelp"
                                placeholder="Enter Username">
                         </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> -->
                            <button type="submit" (click)="updateBlog()" class="btn btn-primary">Submit</button>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
         
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    
</body>