<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Harpreet.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
         
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign in
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" href="/login" >Login</a>
            
            <a class="dropdown-item" href="/register">Register</a>
          </div>
        </li>
       
        <li class="nav-item">
          <a class="nav-link"  routerLink="/contact">Contact</a>
        </li>
       
        
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons" style="padding-top: 15px;">
        <li class="nav-item" >
             <a href="https://www.twitter.com/" style="padding-right: 2px; font-size: 20px;"><i class="fab fa-fw fa-twitter" ></i></a>
        </li>
        <li class="nav-item" >
          <a href="https://www.facebook.com/" style=" padding-right: 2px; font-size: 20px;"><i class="fab fa-fw fa-facebook" ></i></a>
        </li>
        <li class="nav-item" >
          <a href="https://www.instagram.com/" style="padding-right: 10px; font-size: 20px;"><i class="fab fa-fw fa-instagram" ></i></a>
          </li>
      </ul>


      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    
  </nav>
  <hr  style="background-color: rgb(235, 230, 230); width: 80%;"> 