.navbar {
    background-color:white !important;
   
  height: 70px;
  } 
 
  
   .navbar .navbar-brand{
  
  color: black;
  font-size: 50px;
  font-family: serif;
 
  }

 
  
      .navbar .navbar-nav li a{
  
    color: black !important;
   
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .navbar-nav.navbar-center { 
    position: absolute; 
    left: 24%; 
    /* transform: translatex(-50%);  */
} 

