<app-header></app-header>

<div class="reg py-5" >
 

    <h1 >Registration Form</h1>
    <hr>
   
    <div class="container">
    
      <form  [formGroup]="registerForm">  
        <div class="box py-5 px-5">
           
          <div class="form-row">
            <div class="form-group col-lg-6" >
            <input type="text" class="form-control"  formControlName="firstname" id="one"  placeholder="First Name" name="firstname" required>
          </div>
          <div class="form-group col-lg-6">
            <input type="text" class="form-control" formControlName="lastname"  id="one"   placeholder="Last Name" name="lastname" required>
          </div>
          </div>
            <br>
            <input type="text" class="form-control"  formControlName="username" placeholder="User Name" name="username" required>
            <br>
            <input type="email" class="form-control"   formControlName="email" placeholder=" Email" name="email" required>
            <div *ngIf=" f.email.invalid" class="alert alert-danger">
              <div *ngIf="f.email.errors.required">Email is required.</div>
              <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
          </div> 
            <br>
            <input type="password" class="form-control"   formControlName="password" placeholder=" Password"  name="password" required>
            <div *ngIf=" f.password.invalid" class="alert alert-danger">
              <div *ngIf="f.password.errors.required">Password is required.</div>
            </div>
            <br>
            <input type="password" class="form-control"   formControlName="repeatpassword" placeholder=" Repeat Password"  name="repeat_password" required>
            <div *ngIf=" f.repeatpassword.invalid" class="alert alert-danger">
              <div *ngIf="f.repeatpassword.errors.required">Password is required.</div>
              <div *ngIf="f.repeatpassword.errors.confirmedValidator">Password and Repeat Password must be same.</div>           
            </div>
              <br>
            <input type="text" class="form-control"   formControlName="phone" placeholder=" phone Number" name="phone" required>
            <div *ngIf=" f.phone.invalid" class="alert alert-danger">
              <div *ngIf="f.phone.errors.required">Mobile no. is required</div>
              <div *ngIf="f.phone.errors.pattern">Please enter 10 digit mobile number</div>
            
            </div>
            <br>
            <input type="date" class="form-control"  formControlName="date"  placeholder=" " name="date" required>
            <br>
            <select  class="form-control" formControlName="gender"  placeholder="Gender" value="gender" name="gender" required>
              <option selected>Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
             
            </select>
             
            
          
          <button type="submit" (click)="Register()" [disabled]="!registerForm.valid" class="btn btn-primary mt-5" >Submit</button>
        </div>
     
      </form>
    
     </div>
    </div> 

