
<div>
<div class="box py-5 px-5" >
  Name: {{currentUser.firstname}} {{currentUser.lastname}} <br>
  Username: {{currentUser.username}}  <br>
  Email:  {{currentUser.email}}  <br>
  Gender: {{currentUser.gender}}  <br>

  <td><button type="button" (click)="setModalId(currentUser._id)"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    update
  </button></td>
  <button type="button" (click)="deleteUser(currentUser._id)" class="btn btn-info">delete</button>
</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" formControlName="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp"
                placeholder="Enter first name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="text" formControlName="lastname" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp"
              placeholder="Enter last name">
      </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="usernameHelp"
              placeholder="Enter Username">
       </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" (click)="updateUser()" class="btn btn-primary">Submit</button> 
         
      </form>
      </div>
    </div>
  </div>
</div>