.box{
    background-image: linear-gradient(to right top, #418fb1, #009fb9, #00aeb4, #00bba3, #10c687);
    margin: auto;
    margin-top: 15%;
    margin-bottom: 10%;
    -webkit-box-shadow: 0px 2px 22px 10px rgba(5,255,163,1);
    -moz-box-shadow: 0px 2px 22px 10px rgba(5,255,163,1);
    box-shadow: 0px 2px 22px 10px rgba(5,255,163,1);
    font-size:30px ;

    width: 30%;
    height: 100%;
}