.box{
 
  width: 100%;
    background-color: #f2f2f2;
}
h1{
    text-align: center;
    font-size: 70px;
}
h3{
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 18px;
}

img{

    width: 100%;
    height: 450px;
   
}