<app-header></app-header>

<div class="about py-4 px-3">
<div  class="box py-4 px-5">
    <h1>About Harpreet.</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quibusdam eos quis,
         numquam magnam ipsa odio? Et fuga doloremque sit, sequi accusantium quia id iste est, 
         voluptates omnis earum consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
         Id sunt iure nisi odio aut corporis dolorem 
         accusantium necessitatibus minima nam earum laboriosam quia,
          et porro dolorum culpa! Reprehenderit, similique provident!</p>



          <img class="px-5 py-4" src="../../../assets/image/about2.jpg" alt="about " >


      <h3>This Is Our Story</h3> 
      
      <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti 
          atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident,
           similique sunt in culpa.
           Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis</p>

           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur inventore sit, laborum aperiam nostrum facilis
                quae voluptates vero excepturi aspernatur incidunt provident
                 beatae quidem iste autem id delectus quas qui?</p>
<hr>
      <div class="row">

<div style="flex: 1;" class="py-3 px-3">
    <h3>Who We Are.</h3>
    <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim 
        mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor
         veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad
          non pariatur sit.</p>

</div>
<div  style="flex: 1;" class="py-3 px-3">
    <h3>Our Mission.</h3>
    <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute
         anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor 
         veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum 
         ad non pariatur sit.</p>

</div>

      </div>


      <div class="row">

        <div style="flex: 1;" class="py-3 px-3">
            <h3>Our Vision.</h3>
            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim 
                mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor
                 veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad
                  non pariatur sit.</p>
        
        </div>
        <div style="flex: 1;" class="py-3 px-3">
            <h3>Our Core Values.</h3>
            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute
                 anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor 
                 veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum 
                 ad non pariatur sit.</p>
        
        </div>
</div>        
</div>
</div>
