<div class="service">
    <h1>BLOG POST</h1>
    
    <div class="box py-5 px-5">
    <div><a href="#">Home</a><span style="padding-left:80%;">  <button type="button" (click)="logout()" class="btn btn-primary">log out</button></span></div>
    
        <form [formGroup]="blogForm">
            <div class="form-group">
              <label for="formGroupExampleInput">Title</label>
              <input type="text" class="form-control"  formControlName="title" id="formGroupExampleInput" placeholder="Title" name="title">
             </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categories</label>
                <select class="custom-select my-1 mr-sm-2"  formControlName="categoryId"  id="inlineFormCustomSelectPref" name="categoryId">
                  
                  <option *ngFor="let obj of allCategoryObj" [value]="obj._id">{{obj.name}}</option>
                </select>
            </div>
    
            <div class="form-group">
              <label for="exampleInputPassword1">Sub Category</label>
              <select formControlName="subCategoryId" class="form-control" name="subCategoryId">
                  <option [value]="obj._id" *ngFor="let obj of tempAllSubCategoryObj">{{obj.name}}</option>
              </select>
          </div>
    
            <div class="form-group">
                <label for="exampleFormControlTextarea1">post your main part</label>
                <angular-editor formControlName="blogText" [config]="editorConfig"  name="blogText"></angular-editor>
              </div>
              <div class="form-group">z
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" (change)="uploadImage($event)"  id="exampleFormControlFile1" style="color: aliceblue;">
              </div>
              <div class="row" *ngFor="let obj of displayArr;index as i ">
                <div class="col-11">{{obj}}</div>
                <div class="col-1"><button class="btn btn-danger" (click)="deleteImage(i)">X</button></div>
            </div>
    
              <button type="submit" (click)="Blog()" class="btn btn-primary">Submit</button>
          </form>
    
    
    
    
    </div>
    
    
    
    
    </div>
    