.service{
    background-image: url("../../../assets/image/spain,Calella de Palafrugell.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
    padding-top: 80px;
    padding-bottom: 100px;

   }

.box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
background-color:rgba(0,0,0,.6);
height: 850px;
width: 45%;
border-radius: 2%;
box-shadow: 5px 10px 18px wheat;
}

label{
    color: blanchedalmond;
}
@media(max-width:414px){
    .box{
        width: 90%;
    }
}