<hr>
<div class="container">
<div class="row">

           <div class="col-lg-3">
               <Label>SUBSCRIBE</Label>
               <div class="row  mb-4 ">
                  <div style="flex: 1;" >
            <input type="text" class="form-control" placeholder="Email Address" name="email" required="">
         </div>
            <div style="flex: 1;">
            <button type="submit" class="btn btn-dark" >Submit</button></div>
           </div>
         </div>

           <div class="col-lg-3">
            <div class="vl"></div>  
            <h4 class="text-uppercase text-center mb-4">ACCOUNT</h4> 
                <p class=" mx-4 mb-0">Login</p>
                <p class=" mx-4 mb-0">signup</p>

           </div>

           <div  class="col-lg-3">
            <div class="vl"></div>
            <h4 class="text-uppercase text-center mb-4">INFORMATION</h4>
               <p class=" mx-4 mb-0">About</p>
               <p></p>



           </div>


           <div  class="col-lg-3">
            <div class="vl"></div>
            <h4 class="text-uppercase text-center mb-4">CONNECT</h4>
               <p class=" mx-4 mb-0">Facebook</p>
               <p class=" mx-4 mb-0">Instagram</p>
               <p class=" mx-4  mb-0">Twiter</p>


           </div>


</div>
 
</div>

<hr class="mb-0">
<div class="copyright py-3 text-center">
   <div class="container"><small>Copyright © blogss</small></div>
</div>