.vl{
    border-left: 2px solid rgb(194, 189, 189); 
    height: 130px; 
    position:absolute; 
   
}
p{
    text-align: center;
}
hr{
    width: 96%;
    background-color: rgb(223, 217, 217);
   
   
}


.row{
    display: flex;
     flex-direction: row; 
    }