<div class="blog">


  <h1>My Blogs</h1>
 
  <div>


<div class="row ">

    <div class="blog-card spring-fever1 mx-5 my-5 col-md-4" [ngStyle]="{'background-image': 'url(' + obj.imageArr + ')'}" *ngFor="let obj of userBlogs; index as i; ">
        <div class="title-content">
          <h3>{{obj.title}}</h3>
          <hr />
          <div class="intro">{{obj.category}}</div>
        </div><!-- /.title-content -->
        <div class="card-info">{{obj.mainpost}}
          <span class="card info" style="width: 50%;align-items: center;margin-left: auto;margin-right: auto;"> <a href="#" >Read more</a> </span> 
        </div><!-- /.card-info -->
       <div class="utility-info">
          <ul class="utility-list">
            <li class="comments">12</li>
            <li class="date">03.12.2015</li> 
          </ul>
        </div><!-- /.utility-info -->
        <!-- overlays -->
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
      </div>
 
</div>


  </div>
     