<app-header></app-header>
 <body>
  
<div class="container">
<div id="carouselExampleCaptions"  data-interval="4000" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner  ">
      <div class="carousel-item active  " >
        <img src="../../../assets/image/lifestyle.jpg" class="d-block w-100 " alt="..."  >
        <div class="carousel-caption d-none d-md-block">
          <h5>Lifestyle</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/travel.jpg" class="d-block w-100" alt="..."   >
        <div class="carousel-caption d-none d-md-block">
          <h5>Travel</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/technology.jpg" class="d-block w-100" alt="..."   >
        <div class="carousel-caption d-none d-md-block">
          <h5>Technology</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/health.jpg" class="d-block w-100" alt="..."  >
        <div class="carousel-caption d-none d-md-block">
          <h5>Health</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/fashion.jpg" class="d-block w-100" alt="..."  >
        <div class="carousel-caption d-none d-md-block">
          <h5>Fashion</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


  </div>
</div>

<!-- 
<div class="row">
  
 <div  style="flex: 1;">
    <div class="card  mx-auto">
      <img src="../../assets/image/travel4.jpg" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Travel</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero,
           officiis rerum cumque similique nisi assumenda tempore numquam beatae iusto nulla iure!
            Illum reprehenderit adipisci voluptatibus nihil, vitae commodi magni earum.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> 
    </div>
  </div>
  <div  style="flex: 1;">
    <div class="card  mx-auto">
      <img src="../../assets/image/health1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Health</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           In nisi officiis, et, quod eaque dolorem, reprehenderit ad dignissimos sapiente repellat vero. 
           Tempora atque repellat cumque iste accusamus, praesentium odio .</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div style="flex: 1;">
    <div class="card  mx-auto">
      <img src="../../assets/image/h3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">lifestyle</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in dolor error voluptates, 
          vitae rerum quas rem aperiam ipsam, animi dolorum, quisquam aliquid laudantium ad laboriosam ratione 
          blanditiis explicabo magni.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->

</body> 
