

.carousel { 
   
 width: 100%;
 height: 530px;
  
    overflow: hidden;
 
     margin-top:40px ;
    margin-bottom: 10%; 
}

#carouselExampleCaptions  .carousel-item > img{
    -webkit-animation:thing 20s ;
    -o-animation:thing 20s  ;
    animation: thing 20s ;


}

@keyframes thing{

    from{
    transform: scale (1,1);
    }
    to{

        transform:  scale(1.5,1.5);
    }
}



.card{
    width: 290px;
 
margin-bottom: 30px;

}


.card-img-top{

    border: 2px solid black;
   justify-content: center;
   align-items: center;
    border-radius: 6%;
    height: 300px;
    width: 290px;
    transition: 1s;
}

.card-img-top:hover{

    transform: scale(1.03);
    
    z-index: 2;}

.card-title{
    text-align: center;

}


body{

    background-color: honeydew; 
    padding-top: 10px;
    padding-bottom: 50px;
}

img{
    width:100%;
     height: 600px;
      
}



h5{
    font-weight: bolder;
    font-family:
    /* fantasy; */
    cursive;
    text-shadow: 0 0 8px wheat;
    font-size: 50px;
    color:rgb(5, 5, 5);
}
p{
    font-weight: 500;
    font-size: 20px;
    color:rgb(5, 5, 5);
    text-shadow: 0 0 8px wheat;
}
.carousel-caption{
padding-bottom: 110px;
color: black;

}

.row{
display: flex;
 flex-direction: row; 
}